<div class="row">
 <div class="col-md-4">
 </div>
  <div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Create New Foreign Rate</div>
    <div class="panel-body">    
      <%= simple_form_for @post do |f| %>
      <%= f.input :title %>
      <%= f.input :exchange %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
