<div class="row">
 <div class="col-md-4">
 </div>
  <div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Top up Amount</div>
    <div class="panel-body">  
<%= simple_form_for @account do |f| %>
  <%= f.input :title %>
  <%= f.input :balance, placeholder: 'Amount Transfer' %>
  <%= f.button :submit %>
<% end %>
    </div>
  </div>
</div>
